body {
    background-color: #E9ECEF;
}

/* homepage */

#homepage ul {
    list-style-position: inside;
}

/* products  */

#products {
    display: none;
}

.card {
    width: 300px;
}

.card-title, .aboutus-text {
    color: purple;
}

/* aboutus  */

#aboutus {
    display: none;
}