body {
    background-color: #f3f3f3;
}

.container-fluid {
    padding-left: 180px;
    padding-right: 180px;
}

/* navbar  */

nav {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

nav .navbar-brand {
    font-family: 'Pinyon Script', cursive;
    font-weight: bold;
}

nav a:not(:first-child) {
    margin-left: 5px;
}

nav img {
    margin-top: 3px;
    height: 19px;
}

nav input {
    margin-left: 300px;
    font-size: 15px;
}

nav input:placeholder-shown {
    text-align: center;
}

/* stories  */

.stories {
    margin-left: 130px;
    background-color: #fff;
}

.story {
    padding: 0;
}

.story-text {
    font-size: 15px;
}

/* posts  */

.post {
    margin-left: 130px;
    background-color: #fff;
}

.text-time {
    font-size: 10px;
    font-weight: 500;
}